<nav>
  <a [routerLink]="['/home']" routerLinkActive="link-activo">Home</a>
  <a [routerLink]="['/calculadora']" routerLinkActive="link-activo">Calculadora</a>
  <a [routerLink]="['/ReadMeGenerator']" routerLinkActive="link-activo">Read Me Generator</a>
  <a [routerLink]="['/Exeperiments']" routerLinkActive="link-activo">Exeperiments</a>
  <a [routerLink]="['/Eventos']" routerLinkActive="link-activo">Eventos</a>
  <a [routerLink]="['/Veterinario']" routerLinkActive="link-activo">Veterinario</a>
</nav>
